unless profile == "dev"
	script(src = "/js/libraries/system-csp-production.js")
	script(src = "/js/config.js")
	script(src = "/js/bundles.js")
else
	script(src = "/js/jspm/system.src.js")
	script(src = "/js/config-dev.js")
